body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #c1bfff;
    color: #293325;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fdfbd4;
    height: 300px;
    width: 300px;
    border: 0.2rem solid #cf6dfc;
    border-radius: 1rem;
}

.card .img {
    height: 150px;
    width: 150px;
}

.card .img img {
    border: 0.2rem solid #cf6dfc;
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.card .info h2 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

.card .info h3 {
    font-weight: 500;
}

.card .btn .btn1,
.card .btn .btn2 {
    color: #293325;
    background: transparent;
    border: 0.15rem solid #cf6dfc;
    border-radius: 0.2rem;
}
